.container {
  position: relative;
}

.header {
  display: flex;
  justify-content: center;
  padding: 1em 0;
}

.title, .subtitle {
  margin: 0;
}

.main {
  position: relative;
  display: flex;
}

.panel {
  position: relative;
  width: 300px;
  margin-right: 20px;
}

.imagePanel {
  position: relative;
  height: 450px;
}
.control {
  position: relative;
}

.image, .canvas, .loader, .queryLoader {
  border: 1px solid #fff;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 300px;
  height: 450px;
  object-fit: contain;
  box-sizing: border-box;
}
.image {
  z-index: 1;
}
.canvas {
  z-index: 2;
}
.loader, .queryLoader {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

@media screen and (max-width: 600px) {
  
  .main {
    position: relative;
    display: block;
  }
  
  .panel {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
  }

}